ChasmaWebApi/.vs/
ChasmaWebApi/bin/
ChasmaWebApi/obj/
chasma-thin-client/.idea/
chasma-thin-client/build/
chasma-thin-client/node_modules/
ChasmaWebApi.Tests/bin/
ChasmaWebApi.Tests/obj/
ChasmaWebApi/.idea/
chasma-thin-client/src/API/
ChasmaWebApi/*.db
ChasmaWebApi/*.db-shm
ChasmaWebApi/*.db-wal
ChasmaWebApi/ChasmaWebApi.csproj.user
Installer/Artifacts/
