[Desktop Entry]
Version=1.0
Type=Application
Name=Chasma
Comment=Launch Chasma Web Application
Exec=/usr/bin/chasma
Path=/opt/chasma
Icon=/opt/chasma/wwwroot/favicon.ico
Terminal=false
Categories=Utility;Development;