<?xml version="1.0" encoding="utf-8"?>
<configurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<bindingPort>5000</bindingPort>
	<jwtSecretKey/>
	<globalWorkspacePath/>
	<gitHubUsername/>
	<gitHubSshPrivateKeyPath/>
	<gitHubSshPassphrase/>
	<githubApiToken/>
	<workflowRunReportThreshold>30</workflowRunReportThreshold>
	<gitHubPullRequestScanIntervalSeconds>20</gitHubPullRequestScanIntervalSeconds>
	<gitLabUsername/>
	<gitlabApiToken/>
	<gitLabSshPrivateKeyPath/>
	<gitLabSshPassphrase/>
	<selfHostedGitLabUrl/>
	<gitLabMergeRequestScanIntervalSeconds>45</gitLabMergeRequestScanIntervalSeconds>
</configurations>