.commit-modal {
    position: relative;
    background-color: #1e1e1e;
    color: #fff;
    padding: 100px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.commit-modal-title {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.commit-modal-message {
    font-size: 1rem;
    margin-bottom: 20px;
    overflow-wrap: anywhere;
}

.commit-modal-button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.commit-modal-button:hover {
    background-color: #009acd;
}

.commit-modal-icon {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
}

.input-area {
    width: 100%;
    height: 260px;
    padding: 10px 12px;
    margin-bottom: 18px;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    overflow-y: auto;
    resize: vertical;
    font-family: Arial, sans-serif;
}

.input-area::placeholder {
    color: #aaa;
}

.input-area:focus {
    border-color: #00bfff;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 191, 255, 0.4);
}