.info-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #1e1e1e;
    color: white;
    border-radius: 0;
    overflow: visible;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.info-table th,
.info-table td {
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-table th {
    background-color: #2c2c2c;
    color: #00bfff;
}

.info-table tr:hover {
    background-color: #333;
    cursor: pointer;
}

.info-table caption {
    caption-side: top;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
