.repository-title-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #00bfff;
    color: white;
    display: grid;
    justify-content: center;
    padding: 25px;
    margin: 0;
    z-index: 900;
}

.refresh-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 60px;
    padding: 10px 14px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

.refresh-btn:hover {
    background-color: #009acd;
}

.refresh-btn:active {
    transform: scale(0.96);
}

.file-changes-container {
    display: flex;
    flex-direction: column;
    width: 100vh;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.page-description {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 2px;
    border-bottom: 1px solid dimgray;
    padding-bottom: 4px;
    display: block;
}

.page-content {
    justify-items: center;
    width: 300px;
    height: 150px;
    margin-top: -305px;
}