<?xml version="1.0" encoding="utf-8"?>
<configurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<webApiUrl>https://localhost:44349/</webApiUrl>
	<databaseConfiguration>
		<server>localhost\SQLEXPRESS</server>
		<databaseName>Chasma</databaseName>
		<trustedConnection>true</trustedConnection>
		<trustedCertificate>true</trustedCertificate>
	</databaseConfiguration>
	<showDebugControllers>false</showDebugControllers>
	<thinClientUrl>http://localhost:3000</thinClientUrl>
	<githubApiToken>token</githubApiToken>
	<workflowRunReportThreshold>30</workflowRunReportThreshold>
</configurations>